body {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
}
h1 {
    text-align: center;
    margin-bottom: 0;
}
h3 {
    text-align: center;
    margin: 5px;
}
h4 {
    margin: 10px;
    margin-left: 10px;
}
canvas {
    background: "white";
    border: 4px inset darkgray;
    margin: 0 auto;
}
button{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: monospace;
    max-height: 30px;
    max-width: 90px;
}
div{
    display: flex;
    justify-content: center;
    width: 600px;
    margin: auto;
}
.select{
    max-width: 110px;
    max-height: 30px;
}
#selection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
#score{
    margin-top: 5px;
    margin-bottom: 5px;
}
#setting{
    margin-top: 30px;
}
