html, body {
    background-color: #eee;
}

.games a {
    text-decoration: none;
}

.card {
    transition: box-shadow .25s;
    height: 100%;
    color: black;
}

.card:hover {
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,.3);
}