html, body {
    background-color: #222529;
}

.games a {
    text-decoration: none;
}

.card {
    transition: box-shadow .25s;
    height: 100%;
}

.card:hover {
    box-shadow: 3px 3px 10px 0px black;
}